@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}
/*root html elementini temsil eder. renkler belli değişkenlerle temsil edilmiş. aynı değeri birden fazla stil tanımında tekrar etmek yerine bu değişkenler üzerinden erişilebilir.
değişkenler aşağıdaki gibi kullanılır:
color: var(--color-darkblue);
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem; /*kök elementin font-size büyüklüğünün 1 katı*/
  font-weight: 400;
  line-height: 1.4;/*satır arası mesafe yazının büyüklüğüne bağlı olduğundan unitles birim verildiğinde yazı boyutuna bağlı olarak satırlar arası mesafe ayarlanır*/
  color: var(--color-white);
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;/**bu ne işe yarıyor*/
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {/*768px üstü ekranlarda container geniliği maximum 720px olarak ayarlar*/
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);/*box shadow da vardı onla bunu karıştırma bu texte gölge koyuyor*/
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

/* form */

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}/*Bu medya sorgusu, ekran genişliği belirli bir noktayı geçtiğinde (480 piksel veya daha geniş olduğunda) belirli stil değişikliklerinin uygulanmasına olanak tanır. Bu şekilde, farklı ekran boyutları için uygun düzenlemeler yapabilir ve daha duyarlı ve duyarlı bir tasarım elde edebilirsiniz.*//*BAŞKA HANGİ SORGULAR VAR NE İŞE YARAR*/
/*sorgu nedir araştır*/

.form-group {
  margin: 0 auto 1.25rem auto;/*yatayda içerik ortalanırken alt-üst marjinler sabit*/
  padding: 0.25rem;
}

.form-control {
  display: block;/*radio ve checkbox hariç inputların tek satırda görünmesi sağlanmış*/
  width: 100%;
  height: 2.375rem;/*varsayılanın 2.375 katı yükseklik*/
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;/*ease-in-out geçiş eğrisi kullanılmış. bu başlangıçta yavaş başlamasını sona doğru hızlanmasını sağlar*//*READMEde geçiş eğrilerinden bahset*/
}

.form-control:focus {/*bir inputa elementine odaklanıldığında uygulanancak görünümü belirler (focus bir psuedo classdır hover gibi)*/
  border-color: #80bdff;
  outline: 0;/*tarayıcıya özgü bir vurgu yapılmasını engeller*/
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;/*bir elementin boyutunu kullanıcının yalnızca dikey yönde yeniden boyutlandırmasına izin verir. özellikle textarea (metin giriş alanı) gibi elementlerde kullanılır. boyutlandırma tutamacı (resize handle) görülüyor olacak ve kullanıcı sadece dikeyde textareayı büyütebilecek*/
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;/*parent(ebeveyin) elementin rengini miras alır. color özelliği otomatik inherit edilmediğinden bu özellik kullanılmış*/
  border-radius: 2px;
  cursor: pointer;
}